* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
}

.bold {
    font-family: 'Myriad Pro Bold';
}

.container {
  max-width: 1118px;
  width: 100%;
  height: 100%;
  background: url(./img/map.jpg);
  background-size: cover;
  margin: 0 auto;
  color: #ffff;
}

.content {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}


.card{
    width:33.3%;
    padding: 17px 29px 46px 26px;
}

.card__title {
  text-align: center;
  font-size: 39px;
}

.card__content {
  background-color: #2a2a2a38
}

.card__country-block{
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    
}

.card__country-description{
    font-size: 32px;
    margin-left: 10px;
}
 

.card__cities-block{
    margin: 0 0 23px 16px;
}

.card__cities-title {
    padding-bottom: 23px;
}

.card__city {
    display: flex;
    align-items:center;
    padding-bottom: 13px;
}

.card__city-name {
    font-size:22px;
    padding-left: 10px;
}

.card_pink {
    background-color: #7d1c63c4;
}

.card_yellow {
    background-color: #f0e408a4;
}

.card_red {
    background-color: #a8181daf;
}

.card_orange {
    background-color: #de9b49cb;

}


.card_blue {
     background-color: #07436dbd;
}